@media (min-width: 480px) {
    
    body{
        margin: 0; 
        height: 100vh; 
        display: flex; 
        justify-content: center; 
        align-items: center;
        padding: 40px;
    }

    .centered-div{
        border: solid 1px;
        padding:20px;
        width:400px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
        box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
    }

    .centered-div-in{
        background-color:rgb(198, 198, 198);
        padding:10px;
    }

    input{
        float:right;
    }

    button{
        
        font-weight:600;
        cursor:pointer;
        border-radius:10px;
        padding:10px;
        background-color:#1c3be8;
        color:#fff;
        border:solid 0x;
        text-align:center;
        width:200px;
        font-size: 1em;


    }
    button:hover{
        background-color:#00051e;

    }
    
    .showed{
        display: block
    }

    .hidden{
        display: none
    }

    .strong{
        font-weight:600;
    }

    .strong-gray{
        color:gray;
    }
    .formatExample{
        text-align:center;
        position:relative;
        top:0px;
    }
    .phoneNumber{
        width:50%;
        float:left;
    }
    .twoFACheck-label{
        opacity:1;
        width:100%;
        float:left;
    }
    .twoFACheck-check{
        opacity:1;
        width:100%;
        float:left;
    }
    .errorUserForm{
        background-color:red;
        color:#fff;
        position:fixed;
        border:solid red 1px;
        display:none;
        padding:20px;
        top:10px;
        left:10px;
    }
    .successUserForm{
        background-color:green;
        color:#fff;
        border:solid green 1px;
        padding:20px;
        position: fixed;
        top: 10px;
        left: 10px;
        display:none;
    }
}

@media (max-width: 480px) {
    
    

    body{
        margin: 0; 
        height: 100vh; 
        display: flex; 
        justify-content: center; 
        align-items: center;
        background-color: rgb(198, 198, 198);
        padding: 10px;
        
    }

    .centered-div{
        
        padding:20px;
        width: 100%;
        height: 100vh;
        padding: 20px;
        width:100%;
	    height:100%;
        
    }

    .centered-div-in{
        padding:10px;
        width:100%;
	    height: 100vh;
    }

    input{
        float: right;
        width: 100%;
        height: 50px;
        font-size: 2.5em;
        border:solid 1px;
    }

    label{
        font-size: 1em;
	}

    button{
        
        font-weight:600;
        cursor:pointer;
        border-radius:10px;
        padding:10px;
        background-color:#1c3be8;
        color:#fff;
        border:solid 0x;
        text-align:center;
        font-size:1.5em;
        width: 100%;
        height: 80px;

    }
    button:hover{
        background-color:#00051e;

    }
    
    .showed{
        display: block
    }

    .hidden{
        display: none
    }

    .strong{
        font-weight:600;
    }

    .strong-gray{
        color:gray;
    }

    .formatExample{
        text-align:center;
        position:relative;
        top:0px;
    }

    .phoneNumber{
        width:100%;
        float:left;
    }

    .twoFACheck-label{
        opacity:1;
        width:90%;
        float:left;
    }

    .twoFACheck-check{
        opacity:1;
        width:10%;
        float:left;
    }

    .errorUserForm{
        background-color:red;
        color:#fff;
        position:fixed;
        border:solid red 1px;
        display:none;
        padding:20px;
        top:10px;
        left:10px;
        width:100%;
        text-align:center;
    }
    .successUserForm{
        background-color:green;
        color:#fff;
        border:solid green 1px;
        padding:20px;
        position: fixed;
        top: 10px;
        left: 10px;
        display:none;
        width:100%;
        text-align:center;
    
    }
}
