button{
        
    font-weight:600;
    cursor:pointer;
    border-radius:10px;
    padding:10px;
    background-color:#1c3be8;
    color:#fff;
    text-align:center;
    width:200px;

}

button:hover{
    background-color:#9aa9f8;
}

.headerProviders{
    margin:5px;
}

.providers{
    text-align:center;
    padding:10px;
    font-weight:600;
    border: solid 1px;
    background-color: #dddddd;
    margin-top: 20px;
}

.providerEmail{
    float:left;
    width: 70%;
    height:80px;
    font-weight:600;
    border-bottom: solid 1px;
}

.providerEmail-container{
    padding:5px;
}

.providerEmailTitle{
    float:left;
    width:80%;
    border-bottom: solid 1px;
}   

.providerEmailNodemailer{
    float:left;
    width:100px;

}

.providerEmailNodemailer img{
    width:65px;
}

.providerSms{
    float:left;
    width:30%;
    height:80px;
    font-weight:600;
}

.providerSmsTitle{
    text-align:center;
    border-bottom: solid 1px;
}

.listProviderContainer{
    width:70%;
    float:left;
}

.listProvidersContainer-email{
    
    float:left;
    border:solid 0px;

}

.listProvidersContainer-sms{
    float:left;
    width:50%;
}

.imgProvider {

    width:25%;
    height:auto;
    float:left;
    background-size: cover;
    background-position: center;

}

.imgProvider img {
    
    width:100%;
    height:auto;

}